.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

html {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

body {
    margin: 0px 0px 0px 0px;
    background-color: #f1faee;
}

button {
    background-color: #e63946; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: solid 2px #e63946;
    cursor: pointer;
}

button:hover {
    background-color: #e02030; /* Green */
    border-color: white;
}

.App-header {
    background-color: #a8dadc;
    min-height: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: black;
    padding: 1rem;
    border-bottom: solid 1px black;
}

.btn-container {
    padding: 0.5rem 0 0.5rem 0;
    background-color: #a8dadc;
}

.App-body {
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14.5px;
}


.svg-container {
    border: 2px solid black;
    border-style: dotted;
    width: 75%;
    margin-top: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.buttons {
    padding: 1rem;
}

.explanation {
    width: 60%;
    height: 8.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.para {
    height: 60%;
    text-align: left;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: black;
    height: 1px;
}

.pieText {
    font-size: 15px;
    font-weight: 400;
    fill: white;
}

.tooltip {
    background: #eee;
    box-shadow: 2px 2px 2px 2px #999999;
    color: black;
    font-size: 14px;
    padding: 10px;
    text-align: left;
    opacity: 0;
    border: solid 1px black;
    position: absolute;
}

p {
    margin-top: 0px;
}

.tooltip-para {
    margin-bottom: 0px;
}

.tooltip-line-chart {
    background: #eee;
    box-shadow: 2px 2px 2px 2px #999999;
    color: black;
    font-size: 14px;
    padding: 10px;
    text-align: left;
    opacity: 0;
    border: 10px black;
}

.annotations {
    font-size: 14px;
}

.footer-class {
    padding-left: 1rem;
    font-size: 13.5px;
}



.axis-title {
    font-size: 11px;
}